.leftmargin{ margin-left: 26px; }
.plabel{margin-top:0; margin-bottom:0;text-align:right;font-family:Tahoma;font-size:9pt;color:#000080}
.ptextbox{margin-top:0; margin-bottom:0;text-align:left;}
.iframeborder{border:0px;marginheight:0px;}